@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* floating animation */
@layer utilities {
  .floating {
    animation: floating 3s ease-in-out infinite;
  }

  @keyframes floating {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(15px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}

/* floating left right */
@layer utilities {
  .floating-left {
    animation: floating-left 3s ease-in-out infinite;
  }

  @keyframes floating-left {
    0% {
      transform: translateX(0px);
    }

    40% {
      transform: translateX(-15px);
    }

    100% {
      transform: translateX(0px);
    }
  }

  .floating-right {
    animation: floating-right 3s ease-in-out infinite;
  }

  @keyframes floating-right {
    0% {
      transform: translateX(0px);
    }

    60% {
      transform: translateX(15px);
    }

    100% {
      transform: translateX(0px);
    }
  }
}

/* steps colour change animations */

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .i::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    opacity: 20%;
    background: white;
    /*   background: #3B82F6; */
    /* Centering */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .i:hover:before {
    animation: anim-in 0.7s forwards ease-out;
  }

  @keyframes anim-in {
    100% {
      opacity: 0%;
      border-radius: 0;
      width: 600px;
      height: 600px;
    }

    0% {
      width: 0px;
      height: 0px;
      border-radius: 100%;
      opacity: 20%;
    }
  }
}


/* home carousel pagination css*/
.homeCarousel .swiper-pagination .swiper-pagination-bullet {
  position: relative !important;
  background-color: #0C3C82 !important;
}

.homeCarousel .swiper-pagination .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  border-radius: 9999px;
  background-color: #0C3C8250 !important;
  transform: scale(1.7) translate(0%, 0%);
}


/* accommodation price range css  */
.MuiSlider-thumb {
  background-color: #0C3C82 !important;
  border: 2px solid #0C3C82 !important;
}

.MuiSlider-valueLabel {
  font-size: 12px;
}

.MuiSlider-mark {
  background-color: #e3dddd !important;
  border-color: #e3dddd !important;
}

.MuiSlider-markActive {
  background-color: #0C3C82 !important;
}